/ClothoProject/nbproject/private/
/ClothoProject/build/
/ClothoProject/ClothoCore/build/
/ClothoApps/SearchAlgorithms/build/
/ClothoApps/HibernateConnectionLibrary/build/
/ClothoProject/ClothoCore/nbproject/private/
/ClothoFabApps/FabDash/build/
/ClothoApps/Grapevine/nbproject/private/
/ClothoProject/jython/build/
/ClothoApps/SearchAlgorithms/nbproject/private/
/ClothoApps/HibernateConnectionLibrary/nbproject/private/
/ClothoApps/BamBglUnrestricted/nbproject/private/
/ClothoApps/BglBrickiDigester/nbproject/private/
/ClothoApps/BglBricks/nbproject/private/
/ClothoApps/CollectionViewTool/nbproject/private/
/ClothoApps/CollectorBrowser/nbproject/private/
/ClothoApps/ConcatenateFormat/nbproject/private/
/ClothoApps/ConfigurableConnection/nbproject/private/
/ClothoApps/FormatEditor/nbproject/private/
/ClothoApps/Freeform/nbproject/private/
/ClothoApps/GoldenGateFour/nbproject/private/
/ClothoApps/GoldenGateTwo/nbproject/private/
/ClothoApps/InstitutionEditor/nbproject/private/
/ClothoProject/jython/nbproject/private/
/ClothoApps/LabEditor/nbproject/private/
/ClothoApps/PersonEditor/nbproject/private/
/ClothoApps/PluginManager/nbproject/private/
/ClothoApps/RFC10/nbproject/private/
/ClothoApps/RFC10cds/nbproject/private/
/ClothoApps/SpeXba/nbproject/private/
/ClothoApps/StringAppendAlgorithm/nbproject/private/
/ClothoApps/Swingx/nbproject/private/
/ClothoFabApps/ToolAppBrowser/nbproject/private/